<ion-tabs class="tabs-positive tabs-icon-only">
<ion-tab href="#/app/home/main" title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
	<ion-nav-view name="home-tab"></ion-nav-view>
</ion-tab>

<ion-tab href="#/app/sells" title="Make Sale" icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline">
	<ion-nav-view name="sell-tab"></ion-nav-view>
</ion-tab>

<ion-tab href="#/app/purchases" title="Make Purchase" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
	<!-- Tab 3 content -->
	<ion-nav-view name="purchase-tab"></ion-nav-view>
</ion-tab>
</ion-tabs>